<div class="double-slider-wrapper">
  <div class="container">
    <div class="slider-one">
        <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{lowerValue}}" id="slider-1">
    </div>
    <div class="slider-two">
        <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{upperValue}}" id="slider-2">
    </div>
  </div>
</div>