<div class="down-time-activity-container">
    <label class="title">{{Title}}</label>
    <label class="weight-label">Activity weight: {{ActivityWeight}}</label>
    <div class="duration-min-max-container">
        <label class="duration-title">Duration</label>
        <label class="duration-label">Min: {{DurationMin}}Hrs</label>
        <label class="duration-label">Max: {{DurationMax}}Hrs</label>
    </div>
    <button data-activity-type="{{ActivityType}}" class="edit-button">Edit</button>
</div>