<div class="container">
    <label>{{thingContext.Label}}</label>
    {{#if selectAction}}
    <div class="action-selector">
        <div class="transfer-area">
            <label>Transfer Count: {{transferCount}} <input id="amount-slider" type="range" min="1" max="{{thingContext.StackCount}}" value="{{transferCount}}" step="1"></input></label>
            {{#with thingContext}}
            <button class="more-menu-button" data-action="sendToScene">Send to current scene</button>
            {{#unless HeldByWorld}}
            <button class="more-menu-button" data-action="sendToWorld">Send to world inventory</button>
            {{/unless}}
            <button class="more-menu-button" data-action="selectPawn">Send to pawn</button>
        </div>
        {{#if Spawned}}
        <button class="more-menu-button" data-action="despawn">Despawn</button>
        {{/if}}
        {{/with}}
    </div>
    {{/if}}
    {{#if selectPawn}}
    <div class="select-destination-pawn">
        <button class="more-menu-button" data-action="goBackFromSelectPawn">Back</button>
        {{#each targetablePawns}}
        {{log this}}
        <button class="more-menu-button" data-action="pickPawn" data-pawn-id="{{pawnId}}" data-actor-id="{{actorId}}">{{Name}}</button>
        {{/each}}
    </div>
    {{/if}}
</div>